body {
    font-family: Arial, sans-serif;
    background-color: #a39797;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #ece4e4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 2px;
    font-weight: bold;
}

input[type="text"],

input[type="email"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

